.pizzaContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 250px;
}

.pizzaItem {
    width: 300px;
}

button {
    font-size: 3em;
}